[Unit]
Description=Cloud Asset Tracker (Gunicorn)
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/cloud-asset-tracker
EnvironmentFile=/opt/cloud-asset-tracker/.env
ExecStart=/opt/cloud-asset-tracker/.venv/bin/gunicorn --bind 127.0.0.1:8000 application:application
Restart=always

[Install]
WantedBy=multi-user.target
